@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.paginator-overrides((
    container-text-color: orange,
    container-background-color: red,
  ));
}

.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  
  .pokemon-card {
    width: 200px;
    padding: 16px;
    text-align: center;
  }
  
  mat-paginator {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }